body {
  background-color: black;
}
.main {
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  color: black;
  background-color: white;
}
.text {
  white-space: pre-wrap;
  display: inline-block;
  text-align: left;
  font-family: arial;
}

.error {
  color: black;
  text-align: left;
}
